* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e85a9;
    background-image: url(../image/back.png);
    text-align: center;
}

.wrapper {
    width: 1000px;
    height: 986px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 36px;
    box-shadow: 0px 3px 2px 2px #0c677f;
    background-color: #ffffff;
    font-family: Tahoma, sans-serif, Arial;
    font-size: 14px;
    border-bottom: 2px;
    overflow: hidden;
}


/*header*/

a img {
    display: block;
    float: left;
    margin-left: 10px;
}

.contact_countre {
    float: right;
    position: relative;
}

.listcontact {
    color: #5fa5bb;
    font-family: Tahoma, sans-serif, Arial;
    margin: 5px 30px;
    text-align: left;
    float: right;
}

.listcontact a {
    text-decoration: none;
    color: #5fa5bb;
}

.listcontact li {
    list-style-type: none;
}


/*Navigation*/

.navigation {
    list-style-type: : none;
    padding: 30px;
    clear: both;
}

.navigation li {
    float: right;
    margin-left: 10px;
    list-style: none;
}

.navigation li a {
    display: block;
    text-align: center;
    color: #5fa5bb;
    font-size: 12px;
    background-position: center top;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.navigation li a:hover {
    color: #0000CC;
}

.imgpalm {
    display: block;
    border-bottom: 1px solid #138aa7;
    position: relative;
    top: 13px;
}


/*panel*/

.panel {
    height: 34px;
    background-color: #343434;
    box-shadow: 0 0 5px #555555;
    position: relative;
    clear: both;
    font-size: 14px;
}

.panel>ul>li {
    float: left;
    position: relative;
    list-style-type: none;
}

.panel>ul>li>a {
    color: #ffffff;
    display: block;
    padding: 8px 35px 8px;
    text-decoration: none;
}

.panel>ul>li:first-child>a {
    padding-left: 62px;
}

.panel>ul>li>a:hover, .panel>ul>li>a.active {
    background-color: #333;
    color: black;
}

.panel>ul>li>ul {
    background-color: #333;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 30px;
    width: 150px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .75);
}

.panel>ul>li>ul>li {
    list-style-type: none;
}

.panel>ul>li>ul>li>a {
    font-size: 12px;
    display: block;
    line-height: 12px;
    color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
}

.panel>ul>li>ul>li>a:hover {
    background-color: #222;
}

.panel>ul>li:hover>ul {
    display: block;
}

.column {
    display: table;
    margin-top: 5px;
}

.contant1 {
    display: table-cell;
    width: 207px;
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
    background: #edeef0;
    line-height: 15px;
    border-right: 1px solid #c7cacf;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.contant2 {
    display: table-cell;
    width: 207px;
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
    background: #edeef0;
    line-height: 15px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.contant {
    display: table-cell;
    width: 583px;
    font-family: Tahoma, sans-serif, Arial;
    border-right: 1px solid #c7cacf;
}

.textdecor {
    text-align: center;
    color: #626a64;
    margin: 12px;
    font-size: 17px;
    font-weight: bold;
}


/*Copiright*/

.copiright {
    width: 201px;
    color: #ffffff;
    text-align: center;
    font-family: 12px Tahoma, Arial;
    margin: auto;
}
