* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e85a9;
    background-image: url(../image/back.png);
    text-align: center;
}

.wrapper {
    width: 1000px;
    height: 986px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 36px;
    box-shadow: 0px 3px 2px 2px #0c677f;
    background-color: #ffffff;
    font-family: Tahoma, sans-serif, Arial;
    font-size: 14px;
    border-bottom: 2px;
}


/*header*/

a img {
    display: block;
    float: left;
    margin-left: 10px;
}

.contact_countre {
    display: block;
    float: right;
    position: relative;
    top: 10px;
}

.listcontact {
    color: #5fa5bb;
    font-family: Tahoma, sans-serif, Arial;
    margin: 5px 30px;
    text-align: left;
    float: right;
}

.listcontact a {
    text-decoration: none;
    color: #5fa5bb;
}

.listcontact li {
    list-style-type: none;
}

.imgpalm {
    display: block;
    border-bottom: 1px solid #138aa7;
}


/*Navigation*/

.navigation {
    margin: 15px;
    list-style: none;
    clear: both;
    position: relative;
    top: 27px;
}

.navigation li {
    float: right;
    margin-left: 10px;
}

.navigation li a {
    display: block;
    text-align: center;
    color: #5fa5bb;
    font-size: 12px;
    background-position: center top;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.navigation li a:hover {
    color: #0000CC;
}


/*panel*/

.panel {
    top: 8px;
    font-family: tahoma, sans-serif, Arial;
    border-bottom: 1px solid #000000;
    background-color: #343434;
    box-shadow: 0 0 5px #555555;
}

ul li {
    position: relative;
    list-style-type: none;
}

.menu {
    display: block;
}

.menu ul>li>a {
    color: #ffffff;
    background-color: #303030;
}

.menu a {
    display: inline-block;
    margin: auto;
    padding: auto;
    text-decoration: none;
    color: #ffffff;
}

.menu li {
    display: inline-block;
    padding: 5px 30px 5px 30px;
}

.menu>li>ul {
    position: absolute;
    display: none;
}

.menu li:hover ul {
    display: block;
}

.panel li:hover a {
    color: #138aa7;
}

.submenu>li>a {
    display: inline-block;
    padding: 12px 43px 12px 10px;
    color: #d5d5d5;
    background-color: #303030;
    text-decoration: none;
}


/*container*/

.column {
    display: table;
    overflow: hidden;
}

.contant1 {
    display: table-cell;
    width: 207px;
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
    background: #edeef0;
    padding-bottom: 100px;
    margin-bottom: -100px;
}

.contant {
    display: table-cell;
    width: 583px;
    font-family: Tahoma, sans-serif, Arial;
    font-size: 14px;
    padding-bottom: 400px;
    margin-bottom: -400px;
}

.textdecor {
    text-align: center;
    color: #626a64;
    font-size: 17px;
    font-weight: bold;
}


/*Copiright*/

.copiright {
    width: 201px;
    color: #ffffff;
    text-align: center;
    font-family: 12px Tahoma, Arial;
    margin: auto;
}
